<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= link_to @recipe.url, @recipe.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>User name:</strong>
  <%= @recipe.user_name %>
</p>

<h4>Tags</h4>
<div id="tags">
	<%= render @recipe.tags %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> 
<%= link_to 'Back', recipes_path %>
